- var site = {title: "Iowa 80 July 4th Spectacular", url: "http://www.iowa80.com", image: "/img/thumbnail-site-square.jpg", favicon: "img/favicon.ico", description: "Iowa 80 offers the finest selection of semi truck chrome parts and accessories for professional drivers. Visit Iowa 80 today and choose from 30,000+ items!"}

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content=site.description)
    meta(name="author", content="Iowa 80 Group")
    meta(name="copyright" content="2017 Iowa 80 Group")
    meta(name="keywords" content="semi truck chrome, semi mud flaps, truck bumper guides, semi tire chains, truck seat cushions, semi hood ornaments, truck seats, truck lights")

    each val, key in site 
      meta( property = "og:" + key , content = val )
    
    title #{site.title}
    link(href="vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800", rel="stylesheet", type="text/css")
    link(href="css/style.min.css", rel="stylesheet")
    link(rel="shortcut icon" href=site.favicon type="image/x-icon")
    link(rel="icon" href=site.favicon type="image/x-icon")

  body#page-top.index
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container
        .navbar-header.page-scroll
            div.logo
              img(src="img/logo_90h.png" alt="Iowa 80")
    yield