// Variables for the Iowa 80 July 4th Landing Page

$theme-primary: #CC0000;
$theme-secondary:	#949494;
$theme-button-bg: #0F5472;
$theme-button-bg-ovr: #0059B3;
$theme-button-color: #FFFFFF;
$theme-font-color: #666666;
